body {
    background-color: rgb(0, 46, 4);
}

.image-class {
    width: 2px; 
    height: auto; 
    background-image: url('sr5z2ff1002c5caws3.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    
}